@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
}

@layer components {
  .overlay{
    @apply top-0 left-0 absolute w-full h-full;
  }
  .after-overlay{
    @apply after:top-0 after:left-0 after:absolute after:w-full after:h-full;
  }
  .before-overlay{
    @apply before:top-0 before:left-0 before:absolute before:w-full before:h-full;
  }
  .bg-orange-grad{
    @apply bg-gradient-to-br from-orange-600 to-orange-400;
  }
  .bg-primary-grad{
    @apply bg-gradient-to-br from-primary to-blue-700;
  }
  .bg-purple-grad{
    @apply bg-gradient-to-br from-indigo-600 to-indigo-400;
  }
  .bg-red-grad{
    @apply bg-gradient-to-br from-danger to-rose-600;
  }
  .bg-green-grad{
    @apply bg-gradient-to-br from-teal-500 to-teal-400;
  }
  .bg-dark-grad{
    @apply bg-gradient-to-br from-slate-700 to-slate-600;
  }
  .modal-container{
    @apply z-[60] fixed w-screen min-h-screen h-screen left-0 top-0 place-items-center py-10 bg-slate-500/50 pt-[calc(100vh-80vh)] scrollbar x-scrollbar overflow-y-scroll;
  }
  .modal{
    @apply rounded-lg translate-y-10 sm:-translate-y-10 min-h-[calc(100vh-35px)] mb-[70px] sm:mb-[40px] relative w-11/12 md:w-max max-w-lg py-5 sm:px-4 mx-auto bg-white;
  }
}

@layer utilities{
  .scrollbar::-webkit-scrollbar{
    width: 20px;
    height: 20px;
  }
  .scrollbar::-webkit-scrollbar-track{
    border-radius: 100vh;
    background: #f7f4ed;
  }
  .scrollbar::-webkit-scrollbar-thumb{
    border-radius: 100vh;
    border: 3px solid #f7f4ed;
    background: #e0cbcb;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover{
    background: #c0a0b9;
  }
  .x-scrollbar::-webkit-scrollbar{
    width: 5px;
    height: 2px;
  }
  .x-scrollbar::-webkit-scrollbar-track{
    border-radius: 100vh;
    background: transparent;
  }
  .x-scrollbar::-webkit-scrollbar-thumb{
    border-radius: 100vh;
    border: 3px solid transparent;
    background: transparent;
  }
  .x-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #2f77eb;
  }
  td, th{
    padding: 0.5rem .25rem;
  }
  tbody tr:not(:last-child){
    border-bottom: 1px solid #e9eaee;
  }
}
