@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
}

@layer components {
  .overlay{
    @apply top-0 left-0 absolute w-full h-full;
  }
  .after-overlay{
    @apply after:top-0 after:left-0 after:absolute after:w-full after:h-full;
  }
  .before-overlay{
    @apply before:top-0 before:left-0 before:absolute before:w-full before:h-full;
  }
}
